{% extends 'master.html' %}
{% load static %}

{% block content %}

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow p-4 bg-white" style="width: 100%; max-width: 75vw; border-radius: 12px;">

    <div class="text-center mb-4">
        <h3>🎄 Bienvenido</h3>
    </div>

    <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="mb-3">
            <label class="form-label">Usuario</label>
            <input 
                type="text" 
                name="username" 
                class="form-control" 
                placeholder="Introduce tu usuario"
                required
            >
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input 
                type="password" 
                name="password" 
                class="form-control" 
                placeholder="Introduce tu contraseña"
                required
            >
        </div>

        <button type="submit" class="btn btn-primary w-100">
            Entrar
        </button>

        <div class="text-center mt-3">
            <small>
                ¿Aún no tienes cuenta?
                <a href="{% url 'register' %}">Regístrate</a>
            </small>
        </div>
    </form>

</div>

</div>
{% endblock %}